---
layout: default
title: Home
---
{% for post in site.posts limit:1 %}
<article class='latest-ep'>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

<img src='{{ site.url }}public/images/{{ post.mainImage }}' alt='{{ post.alt }}' />

<ul class='episode-sub'>
  <li>
    <i class="fa fa-calendar" aria-hidden="true"></i>{{ post.date | date: '%B %d, %Y' }}
  </li>
  <li>
    <i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.time }}
  </li>
</ul>

<p>{{ post.description | truncatewords: 51 }} <a href='{{ site.url }}'>More</a> </p>

<audio controls>
  <source src='{{ page.episodeLink }}' type='audio/mpeg' />
</audio>
</article>
{% endfor %}


<div class='episodes'>
  {% for post in site.posts offset:1 %}
  <article class='episodes group'>

    <ul class='crop'>
      <li class='crop'>
    <img src='{{ site.url }}public/images/logos/{{ post.logo }}' alt='{{ post.alt }}'>
  </li>

    </ul>

  <h3 class='post-title'><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <ul class='episode-sub'>
    <li>
      <i class="fa fa-calendar" aria-hidden="true"></i>{{ post.date | date: '%B %d, %Y' }}
    </li>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.time }}
    </li>
  </ul>
  <p>
  {{ post.description | truncatewords: 30 }} <a href='{{ site.url }}{{ post.url | remove_first: '/'}}'>More</a>
  </p>
  </article>
  {% endfor %}
</div>


<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
