---

---
// Colors

$dark: #2B2D42;
$green: #8D99AE;
$light: #EDF2F4;
$logoPink: #ED1212;
$pink: #D90429;

$main: #fff;
$sidebarColor: grey;


html {
  font-family: 'PT Serif', serif;


}

h1, h2, h3, h4, h5, h6 {
  color: $pink;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
& a {
  color: $pink;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
}


body {
  color: $dark;
  background-color: $main;
}

.sidebar {
  color: $main;
  background-color: $dark;
  background-image: url(../images/sidebar-tile.png);
  & a {
    color: $main;
  }

  & i {
    margin-right: 5px;
  }
}

.logo {
  background: url(../images/tech-in-shanghai-logo.png);
  text-indent: -9999px;
  display: block;
  width:200px;
  height: 92px;
}

a {
  color: $pink;
  &:hover {
    color: $logoPink;
  }
}


// episode list


// group clearfix
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
clear: both;
}
.group {
zoom: 1; /* IE6&7 */ }


article.episodes {
  display: block;
  img {
    float: left;
  }
  .crop {
    height: 100px;
    width: 150px;
    overflow: hidden;
    img {
      height: auto;
      width: 130px;
    }
  }

  li {
    display: inline-block;
  }

}
